* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding-top: 90px; /* Добавляем отступ для корректного отображения */
}

.search-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    transition: top 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    transition: width 0.3s ease;
}

.search-container input:focus {
    width: 90%;
}

.search-icon {
    margin-right: 10px;
    font-size: 24px;
}

.stats {
    font-size: 14px;
    color: #777;
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2px;
}

.data-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    min-width: 500px;
    transition: opacity 0.3s ease;
    overflow-y: auto; /* Прокрутка списка */
    min-height: 500px; /* Ограничиваем высоту списка */
}

#data-list li.show {
    display: block;
    opacity: 1;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Truncate long links */
    max-width: 100%;
}

li .date {
    font-size: 12px;
    color: #888;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 600px) {
    .search-wrapper {
        top: 10%;
        padding: 5px 10px;
    }

    .search-container input {
        font-size: 14px;
    }
}
